
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    --btn-color:hsl(240deg 4.76% 4.12%);
    --container-color:hsl(0deg 0% 20.78%);
    --background-color:hsl(240deg 3.23% 6.08%);
    --text-color:hsl(206, 4%, 75%);
        --hue-color: 206;
    --black-color:hsl(180deg 2.44% 8.04%);
    --h2-font-size: 1.25rem;
    --big-font-size: 2.5rem;
        --h3-font-size: 1.125rem;
        --bigger-font-size: 3.5rem;
        --biggest-font-size: 5rem;
        --text-gradient:linear-gradient(hsl(var(--hue-color), 4%, 24%), hsl(var(--hue-color), 4%, 8%));
}

body{
    font-family: 'tahoma',Arial;
    background-color: var(--background-color);
position: relative;

}
html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--container-color);
    border-radius: 5px;
}

/* components  */
.gradient-title{
    /* color: gray; */
    background: var(--text-gradient);
    color: transparent;
    background-clip:text;
    font-size: 4rem;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
   padding-top: 100px;
    text-align: center;
    line-height: 0.8;
    transform: translateY(50px);
        opacity: 0;
        transition-delay: 0.3s;
        transition-duration: 1.5s;
        transition-timing-function: ease;
}

 .specs-section.active .gradient-title,
 .case-section.active .gradient-title,
 .product-section.active .gradient-title{
    transform: translateY(0px);
        opacity: 1;

 }
 .btn {
     display: block;
     width: fit-content;
     margin-top: 30px;
     padding: 15px 30px;
     border-radius: 6px;
     background-color: var(--black-color);
     background-color: var(--btn-color);
     transition-duration: 0.5s;
 }
  .btn:hover {
      background-color: rgb(37, 37, 37);
  }
/* end of compenents  */
/* responsive */
/* main : set the margin and padding */
/* 1200>992>786 : change the width  */
 @media (max-width:786px) {
   .container{
    width: 740px; 
   }
   

 }
@media (min-width:992px) {
      .container {
          width: 970px;
      }

  }
@media (min-width:1200px) {
 .container {
                width: 1000px;
            }
    
        }
.container{
  /* background-color: var(--background-color); */
   margin-left:  auto ; 
   margin-right: auto;
   padding: 0 15px 0 15px;
}

/* header style  */

header{
        position: fixed;
            z-index: 3;
            width: 100%;
       
    margin-left: auto;
    margin-right: auto;
}
.header-section{
background-color: transparent;
}
.header-section.active{
    background-color: var(--background-color);
}
@media (min-width:1200px) {
    header {
        left: 150px;
    }

}
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    /* width: 100%; */
      

}

.header-section nav ul{
    display: flex;
    margin-left: 50px;
}
.header-section nav ul li{
    /* color: gray; */
    font-size: 14px;
    /* font-weight: bold; */
    padding: 25px 30px;
}
.header-section nav ul li a{
    display: block;
   background: var(--text-gradient);
background-clip: text;
color: transparent;
font-size: 17px;
}
.header-section nav ul li a:hover{
    color: white;
}
.header-section nav ul li a.active{
    color: white;
}
.logo img{
    width: 30px;
    height: 30px;
}

/* menue  */

  .menu-toggle{
    color: white;
    display: none;
  }
@media (max-width:786px) {
    header{
        margin-top: 20px;
    }
  .menu-toggle{
    display: block;
  }
  header{
    position: sticky;
  }
nav{
    display: none;
  }
  nav.opened {
      display: block;
  }
  .menu{
    width: 100%;
    margin: auto;
    padding-top: 40px;
    position:absolute;
    text-align: center;
left:0;
top:-50px;
background-color: var(--background-color);
    flex-direction: column;

  }

}
/* end of header section  */

/* home section syling  */
.home-section {
    display: flex;
    gap:0px;
}
.home-section .image {
        width: 50%;
        position: relative;
     transform: translateY(-150px);
        opacity: 0;
        transition-delay: 0.5s;
        transition-duration: 2s;
        transition-timing-function: ease;

}
.home-section.active .image {
    transform: translateY(0px);
    width: 50%;
    position: relative;
    opacity: 1;


}
.home-section img{
    width: 300px;
        position: absolute;
            top: -200px;
            left: 70px;
    
        
}

@media (max-width:786px) {
    .home-section img {
        left: 10px;
    }

}
@media (max-width:992px) {
    .home-section .image {
            width: 40%;
            position: relative;
        }
    .home-section img {
            width: 250px;}
    .home-section .text{
                            margin-left: 40px;
                        }
    
}

h2.title{
 font-size: var(--bigger-font-size);
    color: white;
    margin: 0;
    padding: 0;
 
}
.home-section .text{
        width: 50%;
            margin-top: 250px;
            color: var(--text-color);
            /* max-width: 400px; */
            position: relative;
            transform: translateY(150px);
             opacity: 0;
                transition-delay: 0.3s;
                transition-duration: 2s;
                transition-timing-function: ease;
}
.home-section.active .text{
    transform: translateY(0px);
        opacity: 1;
}
.home-section .text h3{
    font-size: var(--h3-font-size);
    margin-top: 40px;
    color: white;
 
}
.home-section .text .overview{
/* font-size: 16px; */
color: hsl(206, 4%, 75%);
line-height: 2.1;
margin-top: 20px;
/* max-width: 380px; */

}
.home-section .text .backend-title{
    /* font-size: 20px; */
font-size: 6.8rem;
    margin-left: 70px;
    color: transparent;
    background: var(--text-gradient);
    background-clip: text;
    font-weight: bold;
    position: absolute;
    z-index: -1;
    top: -100px;
    left: -5px;

}

.home-section .btn span{
    margin-left: 10px;
    font-weight: bold;
}

@media (max-width:970px)
{
    .home-section .text .backend-title {
            /* font-size: 20px; */
            font-size: 6rem;
        top:-83px;
    }

}
@media (max-width:800px) {
    .home-section .text .backend-title {
        /* font-size: 20px; */
        font-size: 5rem;
        top: -63px;
    }

}
@media (max-width:600px) {
    .home-section {
        flex-direction: column;
    }
    .home-section .text .backend-title {
            left:-10px;
        }

    .home-section img {
        left: 362px;
        width: 300px;

        top: -374px;

    }

    .home-section .text {
        width: 100%;
        font-size: 20px;
        padding-right: 21px;
    }

    .home-section .text .overview {
        line-height: 2.1;
    }

}
/* end of home section  */

/* start of sponsor section  */


.sponsors{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        /* gap: 50px; */

}
.sponsors .image{
    /* padding: 30px; */
    text-align: center;
    margin-top: 30px;
        transform: translateY(-70px);
            opacity: 0;
            transition-delay: 0.5s;
            transition-duration: 2s;
            transition-timing-function: ease;
}
.sponsors.active .image{
transform: translateY(0px);
    opacity: 1;
}
.sponsors img{
    width: 100px;
}

/* end of sponsor section  */

/* start of specs section 
 */

.specs-section .content{
    display: flex;
        /* margin: auto; */
        margin-top: 50px;
        justify-content: center;
        gap: 30px;
 }
 .specs-section .content img{
    width: 300px;
    transform: translateX(70px);
        opacity: 0;
        transition-delay: 0.3s;
        transition-duration: 2s;
        transition-timing-function: ease;
 }
 .specs-section.active .content img {
        transform: translateX(0px);
            opacity: 1;
 }
 .specs-section .features li{
margin-top: 20px;
transform: translateX(-70px);
    opacity: 0;
    transition-delay: 0.3s;
    transition-duration: 2s;
    transition-timing-function: ease;
}
 .specs-section.active .features li{
    transform: translateX(0px);
        opacity: 1;
 }
.features li:first-child {
    margin-left: 20px;
}
.features li:last-child {
    margin-left: 20px;
}
.features .name{
    color: white;
}
.features .detail{
    font-size: 12px;
    color:var(--text-color);
}

@media (max-width:786px) {
    .specs-section .content{
        flex-direction:column-reverse;
        align-items: center;
    }
    .specs-section .features{
        margin-top: 30px;
    }
        .specs-section .image {
            margin-top: 30px;
        }
                .features li{
                    text-align: center;
                    margin-left: 0;
                }
        .features .detail{
            margin-top: 15px;
            font-size: 18px;
        }
                 .features .name{
                    font-size: 20px;
                    margin-top: 30px;
                 }
}


/* end of specs section  */


/* start of case  */


.content{
    display: flex;
      
        margin-top: 50px;
        justify-content: center;
        gap: 40px;
        align-items: center;
}
 .content img {
    width: 300px;
}


.case-section .text p {
    font-size: 15;
    max-width: 250px;
    color:gray;
    line-height: 2.1;
}
.case-section .text{
transform: translateY(90px);
    opacity: 0;
    transition-delay: 0.3s;
    transition-duration: 2s;
    transition-timing-function: ease;
}
.case-section.active .text{
transform: translateY(0px);
    opacity: 1;
}
  .case-section .image{
transform: translateY(-50px);
    opacity: 0;
    transition-delay: 0.3s;
    transition-duration: 2s;
    transition-timing-function: ease;
  }
   .case-section.active .image {
transform: translateY(0px);
    opacity: 1;
   }

@media (max-width:768px) {
    
.discount-section .image img,
  .case-section .image img
  {
        width:250px;
    }
}
/* end of case  */

/* start od discount  */

.discount-section .content{
    background-color: var(--black-color);
    border-radius: 8px;
    padding: 40px 0px;
    margin: auto;
    /* margin: 0; */
        margin-top: 100px;

}
.discount-section .text h2{
    color: white;
}
.discount-section .text{
    transform: translateX(-90px);
        opacity: 0;
        transition-delay: 0.3s;
        transition-duration: 2s;
        transition-timing-function: ease;
}
.discount-section.active .text{
    transform: translateX(0px);
        opacity: 1;

}
.discount-section .image{
transform: translateX(90px);
    opacity: 0;
    transition-delay: 0.3s;
    transition-duration: 2s;
    transition-timing-function: ease;
}
.discount-section.active .image {
transform: translateX(0px);
    opacity: 1;
}

.discount-section img{
    width: 350px;
}
.discount-section .text{
    width: 300px;
}
.discount-section .text p {
    font-size: 15;
    margin-top: 20px;
    /* max-width: 200px; */
    color: gray;
    line-height: 2.1;
}

@media (max-width:786px) {
    .discount-section .content {
        flex-direction: column-reverse;
        align-items: center;
    }

    

    .discount-section .image {
        margin-top: 30px;
    }

    .discount-section .text {
        text-align: center;
       
    }
        .discount-section .text p {
            font-size: 18px;
    
        }
                  .discount-section .btn {
                    display: block;
                      margin-left: auto;
                      margin-right: auto;
        
                  }

   
}
/* nd of discount  */

/* start of product section  */

.product-section {
    margin-top: 70px;
}
.product-section .products-container{
width: 60%;
    margin: auto;
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 40px;

}

.product-section .product{
    border-radius: 8px;
    margin-top: 40px;
        background-color: var(--black-color);
        padding: 25px;
        text-align: justify;
        position: relative;

        transform: translateY(-50px);
            opacity: 0;
            transition-delay: 0.3s;
            transition-duration: 2s;
            transition-timing-function: ease;
}
.product-section.active .product{
        transform: translateY(0px);
            opacity: 1;
}
.product-section .product img{
    width: 90px;
        position: absolute;
        top: -48px;
        left: 19%;
}
.product-section .product h5{
    width: fit-content;
     font-size: 14px;
        margin-top: 60px;
        color: white;
}

.product-section .product .price{
    display: block;
    color: var(--text-color);
    font-size: 12px;
    font-weight: bold;
}






/* end of product section  */
/* start of footer */

footer .name {
    color:white;
        font-size: 20px;
}

.footer-container{
        margin-top: 80px;
   
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
}
.footer-container div{
    margin-top: 30px;

    transform: translateY(-90px);
        opacity: 0;
        transition-delay: 0.3s;
        transition-duration: 2s;
        transition-timing-function: ease;
}
.footer-container.active div{
    transform: translateY(0px);
        opacity: 1;
}
.footer-container ul{
    margin-top: 20px;
}
.footer-container li a{
    display: block;
    margin-top: 7px;
    color: var(--text-color);
}
.footer-container li a:hover{
    color:white;
}
footer .form-container{
    display: flex;
    justify-content: center;
    width:330px;
    background-color: var(--black-color);
    padding:  10px 10px;
    border-radius: 8px;
}
footer form input[type='email']{
background-color: transparent;
border: none;
    font-size: 16px;
    color: var(--text-color);
    
}
footer form input[type='email']:focus{
    caret-color: var(--text-color);
    border: none;
    outline: none;
    
}
footer form input[type='submit']{
    cursor: pointer;
    color: white;
    border-radius: 8px;
    text-align: center;
    background-color: var(--btn-color);
    padding: 15px 20px ;
    border: none;
}
footer .copy-rights{
    margin-top: 80px ;
color: var(--text-color);
font-size: 14px;
display: flex;
justify-content: center;
}

/* end of foooter  */

/* to the up button  */
#up{
    background-color: var(--btn-color);
    border-radius: 50%;
    border: none;
    color: white;
    cursor: pointer;
    position: fixed;
    bottom: -90px;
    width: 20px;
    height: 20px;
    right: 50px;
    transition: 0.3s;
    
 
}
#up.active{
    bottom:100px;
}